.btn {
    background-color: #0000ff;
    text-decoration: none;
    padding: .5rem .8rem;
    display: inline-block;
    color: #ffffff;

    &--orange {
        background-color: $orange;
    }
    &--large {
        font-size: 1.2rem;
        padding: .5rem .9rem;
    }
}